a
{
	color: #22BCE0;
}
body
{
	background: #EEEEEE;
	font-family: "Arial";
	font-size: 16px;
}
footer
{
	background: #22BCE0;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;	
}
/*pseudo clases*/
footer p:first-child
{
	margin-bottom: 0;
}
footer p:last-child
{
	margin-top: 0;
}
footer p:last-child:after
{
	content: "- ";
}
footer p:last-child:before
{
	content: " -";
}
header
{
	background: #343B54;
	color: white;
	padding: 0.5em;
	overflow: hidden;
	position: relative;
}
header figure
{
	float: left;
}

header h1
{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 70px 0 70px;
	margin-top: 1em;
}
header #logo img
{
	border-right: 1px solid white;
	padding-right: 0.5em;
	margin-right: 0.5em;
	width: 100px;
}
header #avatar img
{
	border-radius: 20%;
	width: 55px;
}
header #avatar
{
	margin: 1.5em 2em 0 0;
	position: absolute;
	right: 0;
	top: 0;
}
nav
{
	background: #80BCA3;
	box-shadow: rgba(0,0,0,0.5) 0px 0px 10px; 
	padding: 0 0.5em;
	position: relative;
}
nav ul
{
	list-style: none;
	margin:0;
	padding:0;
}
nav ul li
{
	display: inline-block;
	margin: 0 1.2em 0 0;
}
nav ul li a
{
	color: white;
	display: block;
	padding: 0.3em 0;
}
nav ul #publicar_nav
{
	position: absolute;
	top:-0.25em;
	right:0;
}
nav ul #publicar_nav a
{
	background: #22BCE0;
	padding: 0.4em;
	border-radius: 0.4em;
	text-decoration: none;
	font-style: italic;
	/*
	a significa alfa o transparencia de 0 a 1.
	(1)2px direccion de sombra a los lados.
	(2)2px direccion de sobra verticales.
	(3)5px que tan difuminada la sobra.
	*/
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;

}
#contenido
{
	margin: 1em;
}
#contenido .item
{
	background: white;
	border-bottom: 3px solid #22BCE0;
	min-height: 128px;
	position: relative;
	margin-bottom: 3em;
}
#contenido .item .imagen_item
{
	float: left;
	margin: 0 1em 0 0;
}
#contenido .item .imagen_item img
{
	width: 96px;
}
#contenido .item .titulo_item
{
	font-size: 1.2em;
	font-style: italic;
	padding: 1em 1em 0 0;
}
#contenido .item .titulo_item a
{
	color: #444;
	text-decoration: none;
}
#contenido .item .autor_item
{
	color: #AAA;
}
#contenido .item .datos_item
{
	margin: 1em 1em 0.5em 0;
	text-align: right;
}
#contenido .item .datos_item .fecha_item
{
	color: #AAA;
}
#contenido .item .datos_item .tag_item
{
	background: #F4502A;
	color:white;
	float: left;
	text-decoration: none;
	display: inline-block;
	padding: 0.2em 0.5em;
	border-radius: 1em;
}
#contenido .item .votacion
{
	background: white;
	border-radius: 0 0 0.5em 0.5em;
	left: 2%;
	margin-top: 3px;
	padding: 0.2em 0.5em;
	position: absolute;
	top: 100%;
	width: 95%
}
#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item
{
	float: right;
}